<div class="container" ng-controller="crudController">
    <div class="row">
        <div class="box">
            
            
            
            
            <h1>CRUD</h1>
            <h2>Something</h2>
            <ul ng-model="usersModel">
                <li ng-repeat="user in users" ng-model="usersModel">
                    {{user.name}},{{$index}}
                    <a ng-click="usersModel.deleteUser($index)">delete</a>
                </li>
            </ul>
            <input ng-model="name" type="text"/><button ng-click="addUser()">Add User</button>
            
        </div>
    </div>
</div>
<!-- /.container -->